// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$pink-light: #FFCACB;
$pink-dark : #B46565;

$yellow-light: #FFECC6;
$yellow-dark: #B37900;

$blue-light: #E3E7FF;
$blue-dark: #525EA5;

$grey-200: #E9EAEB;
$grey-300: #D5D7DA;

$checkbox-size: 32px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    // font-family: 'Nunito', sans-serif;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    // background: #04192d;
    background: white;
}

.navbar {
    width: 450px;
    min-height: 100dvh;
    display: grid;
    padding: 2rem 1rem;
    background: #F5F5F5;

    .navbar-container {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        margin: 0 auto 50px auto;
        width: 100%;

        .nav-card {
            display: inline-block;
            width: 100%;
            padding: 8px 4px 4px 4px;
            border-radius: 1rem;
            text-decoration: none;
            box-shadow: 0px 19px 33.5px rgba(0, 0, 0, 0.08);

            h3 {
                font-size: 1.5rem;
                padding: 0 1rem;
            }

            .image-container {
                height: 216px;
                background: white;
                border-radius: inherit;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            &.variant-1 {
                background: $pink-light;

                h3 {
                    color: $pink-dark;
                }
            }

            &.variant-2 {
                background: $yellow-light;

                h3 {
                    color: $yellow-dark;
                }
            }

            &.variant-3 {
                background: $blue-light;

                h3 {
                    color: $blue-dark;
                }
            }
        }
    }
}


.container {
    // background: rgb(233, 244, 247);
    width: 450px;
    padding-bottom: 100px;
    position: relative;

    h1 {
        text-align: center;
        margin: 20px 0px;
    }

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        &:not(:has(.gujarati-div)) {
            justify-content: center;
        }

        .gujarati-div {
            border-radius: 1rem;
            overflow: hidden;
        }

        img {
            // display: block;  
            width: 100px;
            margin-bottom: 20px;
        }

        .gujarati-text {
            vertical-align: 10px;
            font-size: 20px;
            margin-left: 15px;

        }
    }
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 20px;
    cursor: pointer;

    &:has(input[type="checkbox"]:checked) {
        background: #FFF5D9;
    }

    &:nth-child(odd) {
        background: rgb(248, 248, 248);
    }

    input[type="number"] {
        background: white;
        border: 2px solid grey;
        outline: none;
        padding: 10px;
        font-size: 20px;
        width: 100px;
        border-radius: 10px;
        font-weight: 700;

        &:focus {
            border: 1px solid black;
        }
    }

    .text {
        flex: 1 1 50%;
        text-transform: capitalize;
        font-weight: 700;
    }

    .checkbox-container {
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 20px;
        user-select: none;

        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        &:hover {
            .checkmark {
                background-color: #FFC008;
            }
        }

        &:active {
            .checkmark {
                &::before {
                    scale: 0.9;
                }
            }
        }

        .checkmark {
            position: relative;
            top: 0;
            left: 0;
            height: $checkbox-size;
            width: $checkbox-size;
            background-color: #E9EAEB;
            border-radius: 50%;
            border: 1px solid #D5D7DA;

            svg {
                display: none;
                position: relative;
                width: 80%;
                height: auto;
                z-index: 2;
                left: 25%;
                justify-content: center;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 4px;
                background: white;
                border-radius: inherit;
                box-shadow: 0px -1px 1px #FFFFFF, 0px 1px 1.1px rgba(0, 0, 0, 0.12), 0px 10px 10px rgba(0, 0, 0, 0.12);
                z-index: 1;
            }
        }

        input:checked~.checkmark {
            background-color: #FFC008;

            svg {
                display: block;
            }
        }

    }
}

.button {
    position: fixed;
    background: #FCDC4D;
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    transition: all 0.5s ease-in-out;
    display: grid;
    place-content: center;
    border: 1px solid black;

    svg {
        stroke: white;
        stroke-width: 3px;
    }



}

.download-button {
    right: 20px;
    bottom: 20px;

    &:hover {
        background: darken($color: #FCDC4D, $amount: 5);
    }
}

.add-item-button {
    background: rgb(171, 0, 0);
    width: 50px;
    right: 95px;
    bottom: 20px;

    &:hover {
        background: darken($color: rgb(171, 0, 0), $amount: 5);
    }

}

.download-pic {
    margin-top: 50px;
    background: $grey-200;
    padding: 1rem;

    .inner-div {
        background: white;
        padding: 0.5rem;
        border-radius: 2rem;
        box-shadow: 0px 19px 33.5px rgba(0, 0, 0, 0.08);

        .top-bar {
            display: flex;
            flex-direction: column;

            .company-details {
                background: $pink-light;
                border-radius: calc(2rem - 8px);
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 0.25rem;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
                position: relative;
                z-index: 2;

                .image-container {
                    padding: 0.5rem;
                    background: white;
                    border-radius: calc(2rem - 10px);
                    height: 80px;
                    width: 80px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }

                span {
                    font-size: 1.5rem;
                    font-weight: 800;
                    color: $pink-dark;
                }
            }

            .details {
                background: $pink-dark;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                z-index: 1;
                margin-top: -1.8rem;
                padding: 1rem;
                padding-top: 2rem;
                padding-bottom: 0.5rem;
                border-bottom-right-radius: 1.75rem;
                border-bottom-left-radius: calc(2rem - 8px);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);

                .person-name,
                .date {
                    color: white;
                    font-size: 0.75rem;
                }
            }
        }

        .selected-items-list {
            // border: 1px solid black;
            padding-top: 20px;
            border: 1px solid $grey-200;
            margin-top: -1.5rem;

            li {
                list-style-type: none;
                display: flex;
                align-items: center;
                gap: 20px;
                // border-bottom: 1px solid #F3F3F3;
                padding: 15px 8px;


                &:last-child {

                    .item-number {
                        color: #6d6d6d;
                    }
                }

                &:nth-child(even) {
                    background: #F8F8F8;
                }

                .item-number {
                    // width: 25px;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    color: #BBBBBB;
                    font-size: 1rem;
                    font-weight: 1000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .item-name {
                    flex-grow: 1;
                    color: #3b3b3b;
                }

                .item-amount {
                    font-weight: 800;
                }

            }

        }

        .bottom-bar {
            background: $pink-light;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;

            span {
                font-weight: 900;
                color: $pink-dark;
            }
        }
    }
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(10px);
    // display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 99;
    transition: all 0.5s ease-in-out;

    .form {
        display: block;
        background: white;
        padding: 20px;
        width: 500px;
        border-radius: 20px;
        border: 5px solid #FCDC4D;

        h1 {
            color: #FCDC4D;
            text-transform: uppercase;
        }

        input {
            margin-top: 20px;
            width: 100%;
            background: white;
            border: 1px solid rgb(233, 233, 233);
            padding: 20px;
            border-radius: 10px;

            &:focus {
                outline: 2px solid #FCDC4D;

            }
        }

        .button-container {
            display: flex;
            gap: 20px;
            width: 100%;

            .submit-button {
                width: unset;
                background: #FCDC4D;
                border: none;
                color: white;
                font-weight: 900;
                font-size: 1.1rem;
                flex-grow: 1;


                &:hover {
                    background: darken($color: #FCDC4D, $amount: 5)
                }
            }

            .cancel-button {
                width: unset;
                flex-grow: auto;
                border: 1px solid #FCDC4D;
                color: #FCDC4D;
                font-size: 1.1rem;

                &:hover {
                    background: #FCDC4D;
                    color: white;
                }
            }
        }
    }

}




@keyframes bouncing {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}